@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html,
body {
  background-color: #fcfaea;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  background-color: #606d51;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
}

.navigation a {
  color: #fefefe;
  font-family: "Merriweather", serif;
}

.footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerMain {
  background-color: #606d51;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.openingHours,
.soMe,
.located {
  text-align: center;
  color: #fefefe;
  width: 300px;
  margin-bottom: 50px;
}

.copyright {
  text-align: center;
}

.someIcons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global-class-name {
  font-size: 40px;
}

.heroHeading {
  color: #272f1f;
  font-size: 9rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.heroSubheading {
  color: #272f1f;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.heroBtn {
  border: 2px solid #272f1f;
  color: #272f1f;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.heroBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.pizzaContainer {
  background-color: #606d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pizzaText {
  width: 40%;
  color: #fefefe;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizzaText h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.pizzaText p {
  font-size: 1.5rem;
}

.pizzaImage {
  width: 60%;
}

.ingredientsHeading {
  text-align: center;
  margin: 100px 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.ingredientBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.ingredientBtn {
  border: 2px solid #272f1f;
  color: #272f1f;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.pizzadoughContainer {
  background-color: #606d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pizzadoughText {
  width: 40%;
  color: #fefefe;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizzadoughText h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.pizzadoughText p {
  font-size: 1.5rem;
}

.pizzadoughImage {
  width: 60%;
}

.MissingHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.MissingTextContainer {
  width: 70%;
  margin: auto;
  padding: 50px;
}

.MissingText {
  color: #272f1f;
}

.locationsHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.locationsSubheading {
  text-align: center;
  font-size: 1rem;
  color: #272f1f;
  font-weight: lighter;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
}

.aboutHeading {
  color: #272f1f;
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.aboutTextContainer {
  width: 80%;
  margin: 100px auto;
  color: #272f1f;
}

.aboutImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutImage {
  width: 50%;
}
/*# sourceMappingURL=styles.css.map */