@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html,
body {
  background-color: #fcfaea;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  background-color: #606d51;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
}

.navigation a {
  color: #fefefe;
  font-family: "Merriweather", serif;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerMain {
  background-color: #606d51;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.openingHours,
.soMe,
.located {
  text-align: center;
  color: #fefefe;
  width: 300px;
  margin-bottom: 50px;
}

.copyright {
  text-align: center;
}

.someIcons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global-class-name {
  font-size: 40px;
}

.heroContainer {
  min-height: 550px;
}

.heroHeading {
  color: #272f1f;
  font-size: 7rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.heroSubheading {
  color: #272f1f;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.heroBtn {
  border: 2px solid #272f1f;
  color: #272f1f;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.heroBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.pizzaContainer {
  background-color: #606d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pizzaText {
  width: 40%;
  color: #fefefe;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizzaText h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.pizzaText p {
  font-size: 1.5rem;
}

.pizzaImage {
  width: 60%;
}

.ingredientsContainer {
  min-height: 450px;
}

.ingredientsHeading {
  text-align: center;
  margin: 100px 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.ingredientBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.ingredientBtn {
  border: 2px solid #272f1f;
  color: #272f1f;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.pizzadoughContainer {
  background-color: #606d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pizzadoughText {
  width: 40%;
  color: #fefefe;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pizzadoughText h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.pizzadoughText p {
  font-size: 1.5rem;
}

.pizzadoughImage {
  width: 60%;
}

.MissingHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.MissingTextContainer {
  width: 70%;
  margin: 50px auto 100px auto;
  padding: 50px;
}

.MissingText {
  color: #272f1f;
  font-size: 1.2rem;
}

.locationsHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  color: #272f1f;
  font-weight: lighter;
}

.locationsSubheading {
  text-align: center;
  font-size: 1rem;
  color: #272f1f;
  font-weight: lighter;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px auto;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  max-width: 1200px;
}

.lacationCards {
  display: block;
  top: 0px;
  position: relative;
  max-width: 300px;
  background-color: #fcfaea;
  border-radius: 4px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  cursor: pointer;
}

.lacationCards:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.lacationCards:hover:before {
  -webkit-transform: scale(2.15);
          transform: scale(2.15);
}

.aboutHeading {
  color: #272f1f;
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.aboutTextContainer {
  width: 80%;
  margin: 100px auto;
  color: #272f1f;
}

.aboutImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.aboutImage {
  width: 40%;
}

.agreementHeading {
  color: #272f1f;
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.agreementTextContainer {
  width: 70%;
  margin: auto;
}

.agreementTextContainer h3 {
  text-align: center;
  margin: 50px auto;
  color: #272f1f;
}

.formContainer {
  width: 500px;
  margin: 100px auto;
}

.submitbtn {
  margin: 30px 0;
  width: 140px;
  height: 35px;
  background-color: #fcfaea;
  border: 2px solid #606d51;
  color: #606d51;
}

.submitbtn:hover {
  background-color: #606d51;
  color: #fefefe;
}

.locationSpesificHeader {
  color: #272f1f;
}

.locationSpesificText {
  color: #272f1f;
}

.restaurantText {
  color: #272f1f;
}

.returnBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: 50px auto;
}

.returnBtn {
  border: none;
  color: #606d51;
  background-color: #fcfaea;
  cursor: pointer;
}

.locationSpesificHeader {
  text-align: center;
}

.locationSpesificText {
  text-align: center;
}

.restaurantContent {
  width: 80%;
  margin: 50px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mapContent {
  width: 40%;
}

.restaurantText {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuBtnContainer {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuBtn {
  border: 2px solid #272f1f;
  color: #272f1f;
  border-radius: 10px;
  height: 55px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.menuBtn:hover {
  background-color: #606d51;
  color: #fefefe;
  border: none;
}

.cardContainer {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 70px;
}

.card h1 {
  width: 100%;
  text-align: center;
  color: #272f1f;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.card h2 {
  width: 100%;
  text-align: center;
  color: #272f1f;
  font-family: "Merriweather", serif;
  margin: 0;
  font-weight: lighter;
}

.menuCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.menuCard p {
  margin: 5px 0 5px 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #272f1f;
}

.menuCard .menuCardChild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuCard .menuCardChild h3 {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  color: #272f1f;
}

.allergies {
  text-align: center;
  margin: 100px 0;
  font-size: 1.1rem;
}
/*# sourceMappingURL=styles.css.map */