.agreementHeading {
  color: $text-color;
  font-size: 3rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
  font-family: $heading-font;
}

.agreementTextContainer {
  width: 70%;
  margin: auto;

  h3 {
    text-align: center;
    color: $text-color;
    font-family: $text-font;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0px;
  }
}

.formContainer {
  width: 500px;
  margin: 100px auto;
}

.submitbtn {
  margin: 30px 0;
  width: 140px;
  height: 35px;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}
