.footerLogo {
  display: flex;
  justify-content: center;
}

.footerMain {
  background-color: $secondary-color;
}

.footerContent {
  display: flex;
  justify-content: space-around;
}

.openingHours,
.soMe,
.located {
  text-align: center;
  color: $white;
  width: 300px;
  margin-bottom: 50px;
}

.copyright {
  text-align: center;
}

.someIcons {
  justify-content: center;
  display: flex;
}

.global-class-name {
  font-size: 40px;
}
