.logo {
  display: flex;
  justify-content: center;
}

.navigation {
  background-color: #606d51;
  height: 60px;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    list-style-type: none;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    padding: 0px;
  }

  a {
    color: $white;
    font-family: $heading-font;
  }
}
