// Hero container
.heroHeading {
  color: $text-color;
  font-size: 9rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.heroSubheading {
  color: $text-color;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.heroBtn {
  border: 2px solid $text-color;
  color: $text-color;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.heroBtnContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

// Pizza container
.pizzaContainer {
  background-color: $secondary-color;
  display: flex;
}

.pizzaText {
  width: 40%;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.5rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.5rem;
  }
}

.pizzaImage {
  width: 60%;
}

// Ingredient container

.ingredientsHeading {
  text-align: center;
  margin: 100px 0;
  font-size: 3rem;
  color: $text-color;
  font-weight: lighter;
}

.ingredientBtnContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.ingredientBtn {
  border: 2px solid $text-color;
  color: $text-color;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
