// Hero container
.heroContainer {
  min-height: 500px;
}

.heroHeading {
  color: $text-color;
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
  margin: 100px 0 20px 0;
}

.heroSubheading {
  color: $text-color;
  font-size: 1.8rem;
  font-family: $text-font;
  text-align: center;
  font-weight: 300;
}

.heroBtn {
  border: 2px solid $text-color;
  color: $text-color;
  font-family: $heading-font;
  border-radius: 10px;
  height: 80px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  transition: 0.5s;

  &:hover {
    background-color: $secondary-color;
    color: $white;
    transition: 0.3s;
    border: none;
  }
}

.heroBtnContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

// Pizza container
.pizzaContainer {
  background-color: $secondary-color;
  display: flex;
}

.pizzaText {
  width: 40%;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.pizzaImage {
  width: 60%;
}

// Ingredient container
.ingredientsContainer {
  min-height: 450px;
  width: 70%;
  margin: 50px auto 100px auto;
  padding: 50px;
}

.ingredientsHeading {
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
  font-weight: 300;
  color: $text-color;
}

.ingredientText {
  color: $text-color;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}

.ingredientBtnContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.ingredientBtn {
  border: 2px solid $text-color;
  color: $text-color;
  font-family: $heading-font;
  border-radius: 10px;
  height: 70px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  transition: 0.5s;
  margin: 0 !important;

  &:hover {
    background-color: $secondary-color;
    color: $white;
    transition: 0.3s;
    border: none;
  }
}

// Dough container
.pizzadoughContainer {
  background-color: $secondary-color;
  display: flex;
}

.pizzadoughText {
  width: 40%;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.pizzadoughImage {
  width: 60%;
}

// Missing content
.MissingHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  font-weight: 300;
  color: $text-color;
}

.MissingTextContainer {
  width: 70%;
  margin: 50px auto 100px auto;
  padding: 50px;

  .MissingText {
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

@media (max-width: 1200px) {
  .heroContainer {
    min-height: 500 !important;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .heroContainer {
    min-height: 0;
  }
  .heroHeading {
    color: $text-color;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    margin: 100px 0 20px 0;
  }

  .pizzaContainer {
    flex-direction: column;
  }

  .pizzaImage {
    width: 100%;
  }

  .pizzaText {
    width: 80%;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .ingredientsContainer {
    min-height: 450px;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
  }

  .heroBtn,
  .ingredientBtn {
    height: 60px;
    width: 250px;
    font-size: 1.4rem;
  }

  .heroBtnContainer {
    display: flex;
    justify-content: center;
    margin: 100px 0;
  }

  .pizzadoughContainer {
    flex-direction: column;
  }

  .pizzadoughImage {
    width: 100%;
  }

  .pizzadoughText {
    width: 95%;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .MissingTextContainer {
    width: 80%;
    margin: 50px auto;
    padding: 10px;

    .MissingText {
      color: $text-color;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}
