// Hero container
.heroContainer {
  min-height: 550px;
}
.heroHeading {
  color: $text-color;
  font-size: 7rem;
  text-align: center;
  font-weight: lighter;
  margin: 100px 0 20px 0;
}

.heroSubheading {
  color: $text-color;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.heroBtn {
  border: 2px solid $text-color;
  color: $text-color;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.heroBtnContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

// Pizza container
.pizzaContainer {
  background-color: $secondary-color;
  display: flex;
}

.pizzaText {
  width: 40%;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.5rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.5rem;
  }
}

.pizzaImage {
  width: 60%;
}

// Ingredient container
.ingredientsContainer {
  min-height: 450px;
}

.ingredientsHeading {
  text-align: center;
  margin: 100px 0;
  font-size: 3rem;
  color: $text-color;
  font-weight: lighter;
}

.ingredientBtnContainer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.ingredientBtn {
  border: 2px solid $text-color;
  color: $text-color;
  border-radius: 10px;
  height: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

// Dough container
.pizzadoughContainer {
  background-color: $secondary-color;
  display: flex;
}

.pizzadoughText {
  width: 40%;
  color: $white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.5rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.5rem;
  }
}

.pizzadoughImage {
  width: 60%;
}

// Missing content
.MissingHeading {
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 3rem;
  color: $text-color;
  font-weight: lighter;
}

.MissingTextContainer {
  width: 70%;
  margin: 50px auto 100px auto;
  padding: 50px;
}

.MissingText {
  color: $text-color;
  font-size: 1.2rem;
}
