.cardContainer {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 70px;

  h1 {
    width: 100%;
    text-align: center;
    color: $text-color;
    font-family: $heading-font;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 300;
  }

  h2 {
    width: 100%;
    text-align: center;
    color: $text-color;
    font-family: $heading-font;
    margin: 0;
    font-weight: normal;
  }
}

.menuCard {
  display: flex;
  flex-direction: column;
  width: 500px;

  p {
    margin: 5px 0 5px 0;
    font-size: 1rem;
    font-family: $text-font;
    font-weight: normal;
    color: $text-color;
  }

  .menuCardChild {
    display: flex;
    justify-content: space-between;

    h3 {
      font-family: $heading-font;
      font-size: 1.3rem;
      color: $text-color;
    }
  }
}

.allergies {
  text-align: center;
  margin: 100px 0;
  font-size: 1.125rem;
  font-weight: 300;
}
