.locationSpesificHeader {
  text-align: center;
  margin-top: 60px;
  font-family: $heading-font;
  font-size: 2.5rem;
  font-weight: 300;
}

.locationSpesificText {
  text-align: center;
  font-family: $text-font;
}

.restaurantContent {
  width: 80%;
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: space-evenly;
}

.mapContent {
  width: 40%;
}

.restaurantText {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menuBtnContainer {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.menuBtn {
  border: 2px solid $text-color;
  color: $text-color;
  border-radius: 10px;
  height: 55px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  transition: 0.5s;
  font-family: $heading-font;

  &:hover {
    background-color: $secondary-color;
    color: $white;
    border: none;
    transition: 0.5s;
  }
}

.hours {
  width: 80%;
  margin: 0 auto 70px;

  h3 {
    text-align: center;
    margin: 50px 0 30px 0;
    font-weight: normal;
    font-family: $heading-font;
    font-size: 1rem;
  }
}

.hoursCard {
  display: flex;
  width: 100%;
}

.hoursCardChild {
  min-width: 120px;
  text-align: center;

  h6 {
    color: $text-color;
    font-family: $text-font;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
  }
}
